<%= nested_form_for(@post, :remote => true) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :desc %><br>
    <%= f.text_field :desc %>
  </div>

  <%= f.fields_for :comments do |comment_form| %>
    <%= comment_form.text_field :desc %>
    <%= comment_form.link_to_remove "Remove this comment" %>
  <% end %>
  <p><%= f.link_to_add "Add a Comment", :comments %></p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
